.headerText {
  color: rgb(163, 6, 45);
  font-size: 25px;
  margin: 0% 2% 0% 2%;
}

.body{
  background:gray;
}

.rounded{
  width:600px;
  margin:auto;
}

.rounded img{
  border-radius:50%;
}

.wrap{
  width:1000px;
  margin:auto;
  margin-top:100px;
}

.card{
  box-shadow:0 4px 8px 0 rgba(0,0,0,.6);
  transition:0.4s;
  width:300px;
  background: #fff;
  text-align: center;
  font-size:16px;
  font-family:sans-serif;
  float:left;
  margin:10px;
}

.card:hover{
  box-shadow:0 8px 16px 0 rgba (0,0,0,0.6);
}

.container{
  padding:2px 16px;
}

.flexbox-container{
  display: flex;
  text-align: left;
  flex-wrap: wrap;
 
  
}

.flexbox-item{
  width: 700px;
  margin: 10px;
  border: 3px none;
  background-color: none;
}

.flexbox-item-1{
  min-height: 100px;
  
}
.flexbox-item-2{
  min-height:200px;
  /* align-self: center; */
}

.flexbox-item-3{
  min-height:300px;
}

.bio-name{
  font-size:50px;
  font-family: 'Courgette', cursive;
}



/* .profile-images {
  display: flex;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
  margin-top:40px;
  /* margin-bottom:40px; */
  
/* } */ 

.navbar-container {
  background-color: none;
  border-bottom-color: #fff;
   

}

.navbar-links {
  text-decoration: none;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  
}
.stylist-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-auto-rows: 25em;

}
.app-name {
  font-family: 'Helvetica SC', cursive;
  color: rgb(12, 5, 7);
  font-size: 10px;
  margin: 0% 2% 0% 2%;

}
.navbar-links {
  font-family: 'Tinos', serif;
  /* font-family: 'Amatic SC', cursive; */
  color: rgb(12, 5, 7);
  font-size: 25px;
  margin: 0% 2% 0% 2%;

}










































/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
