.headerText {
  color: rgb(163, 6, 45);
  font-size: 25px;
  margin: 0% 2% 0% 2%;
}
.profile-images {
  display: flex;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
  margin-top:40px;
  /* margin-bottom:40px; */
  
}

.navbar-container {
  background-color: rgba(234, 244, 245, 0.966);

}

.navbar-links {
  text-decoration: none;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  
}
.stylist-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-auto-rows: 25em;

}
.app-name {
  font-family: 'Amatic SC', cursive;
  color: rgb(12, 5, 7);
  font-size: 50px;
  margin: 0% 2% 0% 2%;

}
.navbar-links {
  font-family: 'Amatic SC', cursive;
  color: rgb(12, 5, 7);
  font-size: 25px;
  margin: 0% 2% 0% 2%;

}










































/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
